name: Build & Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Images
        run: |
          docker build -t yourname/auth-service ./auth-service
          docker build -t yourname/product-service ./product-service
          docker build -t yourname/api-gateway ./api-gateway

      - name: Push Images
        run: |
          docker push yourname/auth-service
          docker push yourname/product-service
          docker push yourname/api-gateway
